/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* START RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
    margin: 0;
    padding: 0;

}

.landing-content {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 82px;
}



body {
	line-height: 1;
    overflow-x: hidden;
    background-color: #3A3A3A;
    /* box-sizing: border-box; */
    
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

/* HEADER */

header { 
    height: 100px;
    width: 100%;
    background-color: #3A3A3A;

    padding-inline: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-items a {
    padding-block: 16px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::before, .hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}


.logo {
    width: 60%;
    height: 75%;
}

.header-items  {
    width: 35%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-items a {
    font-size: 16px;
    color: #fff;
    font-family: Fira Sans;
    font-weight: 300;
    line-height: 30px;
    text-decoration: none;
    transition: color .4s;
    position: relative;
}


.header-items a:hover, a:active, a:focus {
    color: #EABB26;
}

.header-items a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: #EABB26; 
    transition: width 0.3s ease;
}

a:active::after {
    width: 100%;
}

a:focus::after {
    width: 100%;
}

/* Banner */ 

.banner {
    width: 100%;
    height: 100vh;
    background-image: url('assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    position: relative;
    box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset;
}

.banner-text-content {
    width: 60%;
    padding: 110px 20px 0px 80px;
}

.banner-title {
    font-family: Fira Sans;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 50%;
    line-height: 72px;

    margin-bottom: 30px;
}

.banner-title b {
    color: #EABB26;
}

.banner-text {
    font-family: Fira Sans;
    font-size: 18px;
    letter-spacing: 10%;
    font-weight: 300;
    letter-spacing: 10%;
    line-height: 25px;
    color: #fff;
}

.work-with-us-box {
    position: absolute;
    right: 0;
    top: 120px;
}

.banner-vector {
    position: absolute;
    right: -50px;
    top: 200px;
}

.banner-reverse-vector {
    position: absolute;
    left: -25px;
    top: 580px;
    z-index: 100;
}

/* opportunities */

.opportunities {
    width: 100%;
    height: 900px;
    position: relative;
    box-shadow: 0 50px 20px -20px rgba(234, 187, 38, .5) inset;
    padding-top: 100px;
}

.opportunities-box {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

.opportunities-title {
    font-family: Fira Sans;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 15%;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    
    margin-right: 20px;
}

.opp-container {
    width: 100%;
    height: 450px;
    background-color: #fff;
    border-radius: 35px;

    box-shadow: 0px 0px 15px 0px #EABB26;
    /* margin-bottom: 300px; */
}


/* apply */ 


.apply-now {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;
}

.apply-now-image {
    width: 400px;
    top: 0px;
    left: 0px;
    position: absolute;
}

.apply-form-box {
    width: 500px;
    height: 900px;
    margin: 150px 100px 300px 0px;

    background-color: #fff;
    border-radius: 36px;
    box-shadow: 0px 0px 15px 0px #EABB26;
}

.apply-vector {

    position: absolute;
    right: -190px;
    top: -260px;
    z-index: -100;
}

.apply-reverse-vector {
    width: 300px;
    height: 500px;

    position: absolute;
    left: 0px;
    bottom: 10px;
}

.centered-form {
    margin: 50px 40px 0px 40px;
    text-align: center;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #3A3A3A
}

.form-group select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    color: #3A3A3A;
}

.form-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    color: #3A3A3A;
}


.form-row {
    width: 100%;

    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0;
}

button[type="submit"] {
    background-color: #EABB26;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.form-button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: #3A3A3A;
    border: none;
    color: white;

    font-family: Fira Sans;
    font-weight: 500;
}



/* contacts */

.contacts {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to top, #EABB26, transparent 100%, transparent 10%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-contacts {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-cards {
    display: flex;
    flex-direction: column;

    padding-left: 40px;
}

.contact-cards span {
    padding: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-family: Fira Sans;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 5%;
    background-color: #EABB26;
    
    display: flex;
    align-items: center;

    transition: left 5s linear;
}

.contact-cards span:hover {
    left: calc(100% - 100px);
}

.contact-cards span:hover {
    margin-left: 100px;
}

.contact-cards span img {
    width: 22px;
    margin-right: 10px;
}

.contac-gama-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: 40px;
}

.contac-gama-logo  img {
    width: 350px;
    height: 350px;
}



/* Footer */ 

footer {
    width: 100%;
    height: 100px;
}


@media (max-width: 480px) {
    /* media querie mobile */

    /* body {
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    } */

    .landing-content {
        flex-direction: column;
        gap: 10px;
        padding-top: 0;

    }

    header { 
        padding-inline: 30px;    
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-items  {
        width: 100vw;
        height: 100vh;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #3A3A3A;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        pointer-events: none;
    }

    .header-items a {
        font-size: 24px;
    }

    .header.active .header-items {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .header.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .header.active .hamburger::before {
        transform: rotate(135deg);
    }

    .header.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .hamburger {
        display: block;
        z-index: 1;
    }


    .logo {
        display: flex;
        width: 70%;
        height: auto;
    }

    .banner {
        width: 100%;
        height: 100vh;
        background-image: url('assets/background.png');
        background-size: cover;
        background-repeat: no-repeat;
    
        display: flex;
        position:relative;
    }

    .banner-title {
        font-size: 40px;
        line-height: 35px;
    }

    .banner-text-content {
        width: 80%;
        padding: 30px 30px 0px 30px;
    }

    .banner-text {
        font-size: 16px;
        line-height: 20px;
    }

    .work-with-us-box {
        position:relative;
        width: 50%;
        height: auto;
        right: 0;
        top: auto;
    }
    
    .banner-vector {
        display: none;
        right: 0px;
        top: 0px;
    }
    
    .banner-reverse-vector {
        display: none;
        left: 0px;
        top: 0px;
    }

    .apply-now-image {
        width: 300px;
    }

    .apply-vector {

        display: none;
        right: 0px;
        top: 0px;
        z-index: 0;
    }
    
    .apply-reverse-vector {
        display: none;
        width: 0px;
        height: 0px;
        left: 0px;
        bottom: 0px;
    }

    .apply-now {
        justify-content: flex-start;
        align-items: center;
    }

    

}

@media (min-width: 480px ) and (max-width: 800px) {
    /* media querie mobile to tablet */

    .landing-content {
        flex-direction: column;
        gap: 10px;
        padding-top: 0;

    }

    header { 
        padding: 0px 30px 0px 30px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-items  {
        width: 35%;
    
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        width: 70%;
        height: auto;
    }

    .banner-title {
        font-size: 40px;
        line-height: 35px;
    }

    .banner-text-content {
        width: 80%;
        padding: 30px 30px 0px 30px;
    }

    .banner-text {
        font-size: 16px;
        line-height: 20px;
    }

    .work-with-us-box {
        
        width: 50%;
        height: auto;
        right: 0;
        top: auto;
    }
    
    .banner-vector {
        display: none;
        right: 0px;
        top: 0px;
    }
    
    .banner-reverse-vector {
        display: none;
        left: 0px;
        top: 0px;
    }
    

}